@use "../Variables/variables";



@keyframes animations_translate {
    0% {
        transform: translateX(0px);
        overflow: hidden;
        opacity: 0;
    }
    5% {
        opacity: 0.3;
        overflow: visible;
    }
    25% {
        transform: translateX(-70px);
        opacity: 0.5;
        overflow: visible;
    }
    50% {
        opacity: 0.7;
        overflow: visible;
    }
    100% {
        transform: translateX(-40px);
        overflow: visible;
        opacity: 1;
    }
}
@keyframes animations_translate_return {
    100% {
        transform: translateX(-40px);
        opacity: 1;
    }
    50% {
        transform: translateX(-40px);
    }
    0% {
        transform: translateX(0px);
    }
}

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 

@keyframes loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(280deg);
    } 
}
@keyframes spin-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    } 
}

@keyframes quarter_spin {
    0% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


