* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: red;
  background: white;
}

@keyframes animations_translate {
  0% {
    transform: translateX(0px);
    overflow: hidden;
    opacity: 0;
  }
  5% {
    opacity: 0.3;
    overflow: visible;
  }
  25% {
    transform: translateX(-70px);
    opacity: 0.5;
    overflow: visible;
  }
  50% {
    opacity: 0.7;
    overflow: visible;
  }
  100% {
    transform: translateX(-40px);
    overflow: visible;
    opacity: 1;
  }
}
@keyframes animations_translate_return {
  100% {
    transform: translateX(-40px);
    opacity: 1;
  }
  50% {
    transform: translateX(-40px);
  }
  0% {
    transform: translateX(0px);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(280deg);
  }
}
@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes quarter_spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animations_translate {
  0% {
    transform: translateX(0px);
    overflow: hidden;
    opacity: 0;
  }
  5% {
    opacity: 0.3;
    overflow: visible;
  }
  25% {
    transform: translateX(-70px);
    opacity: 0.5;
    overflow: visible;
  }
  50% {
    opacity: 0.7;
    overflow: visible;
  }
  100% {
    transform: translateX(-40px);
    overflow: visible;
    opacity: 1;
  }
}
@keyframes animations_translate_return {
  100% {
    transform: translateX(-40px);
    opacity: 1;
  }
  50% {
    transform: translateX(-40px);
  }
  0% {
    transform: translateX(0px);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(280deg);
  }
}
@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes quarter_spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  display: flex;
}
@media (min-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
  }
}
body .loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  place-items: center;
  background-color: #FFF;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 0.2s 5s forwards;
  transform-origin: top;
}
body .loader::after {
  content: "";
  height: 80px;
  width: 80px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 3s infinite linear;
  animation-iteration-count: 3;
}
body .loader-1 {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  place-items: center;
  background-color: #FFF;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 0.2s 5s forwards;
  transform-origin: top;
}
body .loader-1::before {
  content: "";
  height: 80px;
  width: 80px;
  border-right: 5px solid transparent;
  border-top: 5px solid #008766;
  border-radius: 50%;
  animation: spin-1 3s infinite linear;
  animation-iteration-count: 3;
}
body #header_Home {
  display: flex;
  width: 100%;
  height: 107px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  body #header_Home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
}
@media (min-width: 1024px) {
  body #header_Home {
    width: 100%;
    max-width: 1140px;
  }
}
@media (min-width: 1460px) {
  body #header_Home {
    width: 100%;
    max-width: 1440px;
  }
}
body #header_Home .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 197px;
  margin: 10px 0px 10px;
  flex-shrink: 0;
  background: white;
}
body #header_Home .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 34.2px;
  margin: 30px 0 10px;
}
@media (min-width: 768px) {
  body #header_Home .logo {
    display: flex;
    height: 34.2px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  body #header_Home .logo {
    width: 100%;
    margin: 0;
    height: 87px;
  }
}
@media (min-width: 1460px) {
  body #header_Home .logo {
    width: 100%;
    max-width: 1440px;
  }
}
body #header_Home h2 {
  display: flex;
  justify-content: center;
  min-width: 410px;
  width: 100%;
  height: 50px;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: #EAEAEA;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
}
@media (min-width: 768px) {
  body #header_Home h2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 36px;
    justify-items: center;
    margin: 0;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  body #header_Home h2 {
    width: 100%;
    height: 46px;
  }
}
@media (min-width: 1460px) {
  body #header_Home h2 {
    width: 100%;
    max-width: 1440px;
  }
}
body #header_Home .fa-location-dot {
  display: flex;
  gap: 10px;
}
@media (min-width: 768px) {
  body #header_Home {
    display: flex;
    min-width: 1440px;
    height: 100%;
  }
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  min-width: 375px;
  min-height: 1315px;
  height: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  body main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 1100px;
    max-width: 1440px;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  body main {
    width: 100%;
    height: 100%;
    gap: 0;
  }
}
@media (min-width: 1460px) {
  body main {
    display: flex;
    width: 100%;
    height: 1211px;
    max-width: 1440px;
  }
}
body main .header-reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 284px;
  width: 100%;
  background-color: #F6F6F6;
}
@media (min-width: 768px) {
  body main .header-reserv {
    display: flex;
    height: 179px;
    gap: 18px;
  }
}
@media (min-width: 1024px) {
  body main .header-reserv {
    width: 100%;
    height: 216px;
  }
}
@media (min-width: 1460px) {
  body main .header-reserv {
    width: 100%;
    max-width: 1440px;
  }
}
body main .header-reserv .h4-central {
  display: flex;
  height: 68px;
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 24px;
  margin: 39px 58px 0 42px;
}
@media (min-width: 768px) {
  body main .header-reserv .h4-central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    margin: 8px 0 0;
  }
}
@media (min-width: 1024px) {
  body main .header-reserv .h4-central {
    font-size: 37px;
    margin: 20px 0 0 0;
  }
}
body main .header-reserv .h5-central {
  display: flex;
  width: 100%;
  height: 46px;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  margin: 0;
  color: #353535;
}
@media (min-width: 768px) {
  body main .header-reserv .h5-central {
    display: flex;
    min-width: 1440px;
    justify-content: center;
    align-items: center;
    height: 46px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  body main .header-reserv .h5-central {
    font-size: 16px;
  }
}
body main .header-reserv .button-central {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  margin: 27px 75px 57px 82px;
  border: 0px;
  color: white;
}
@media (min-width: 768px) {
  body main .header-reserv .button-central {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    font-size: 12px;
    width: 198px;
    height: 41px;
  }
}
@media (min-width: 1024px) {
  body main .header-reserv .button-central {
    font-size: 15px;
    margin-top: 13px;
  }
}
body main .header-reserv .button-central:hover {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  transition: all 0.5s ease-out;
  opacity: 0.7;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
body main .header-fonction {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  background-color: white;
  counter-reset: listes;
}
@media (min-width: 768px) {
  body main .header-fonction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 128px;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  body main .header-fonction {
    width: 100%;
    max-width: 1440px;
    height: 215px;
  }
}
body main .header-fonction h2 {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 31px;
  flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 24px;
  margin: 15px 0 15px 20px;
}
@media (min-width: 768px) {
  body main .header-fonction h2 {
    max-width: 940px;
    width: 100%;
    display: flex;
  }
}
@media (min-width: 1024px) {
  body main .header-fonction h2 {
    width: 100%;
    max-width: 1180px;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1460px) {
  body main .header-fonction h2 {
    width: 100%;
    max-width: 1360px;
    margin: 20px;
  }
}
body main .header-fonction ol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  max-width: 375px;
  gap: 19.92px;
  margin: 0 40px 0 40px;
}
@media (min-width: 590px) {
  body main .header-fonction ol {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  body main .header-fonction ol {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 220px;
    height: 100%;
    width: 100%;
    margin: 0 0 0 10px;
  }
}
@media (min-width: 1024px) {
  body main .header-fonction ol {
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
    gap: 29px;
  }
}
body main .header-fonction li {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 72.379px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
}
body main .header-fonction li:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  body main .header-fonction li {
    display: flex;
    flex-direction: row;
    height: 72.4px;
    width: 100%;
    min-width: 228px;
    flex-shrink: 0;
    font-size: 12px;
    gap: 14.92px;
  }
}
@media (min-width: 1024px) {
  body main .header-fonction li {
    width: 26%;
    max-width: 1440px;
    font-weight: bold;
    font-size: 14px;
  }
}
body main .header-fonction li::before {
  content: counter(listes);
  counter-increment: listes;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  left: -1rem;
}
body main .header-fonction li .fa-solid {
  color: #7E7E7E;
}
@media (min-width: 1024px) {
  body main .header-fonction li .fa-solid {
    transform: scale(1.5);
  }
}
body main .header-fonction li .fa-solid.fa-store {
  color: #9356DC;
}
body main .restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 100%;
  width: 100%;
  max-width: 780px;
  min-height: 1185px;
  background-color: #F6F6F6;
}
@media (min-width: 450px) {
  body main .restaurants {
    max-height: 620px;
  }
}
@media (min-width: 768px) {
  body main .restaurants {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 780px;
    max-width: 1000px;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  body main .restaurants {
    width: 100%;
    max-width: 1440px;
  }
}
body main .restaurants a {
  text-decoration: none;
}
body main .restaurants h2 {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 31px;
  flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 24px;
  margin: 30px 0 0px 80px;
}
@media (min-width: 768px) {
  body main .restaurants h2 {
    display: flex;
    margin: 20px 0 0 20px;
    max-width: 940px;
  }
}
@media (min-width: 1024px) {
  body main .restaurants h2 {
    width: 100%;
    max-width: 1180px;
    font-size: 24px;
  }
}
@media (min-width: 1460px) {
  body main .restaurants h2 {
    width: 100%;
    max-width: 1360px;
    margin: 20px;
  }
}
body main .restaurants .new {
  position: relative;
}
body main .restaurants .new::before {
  content: "Nouveau";
  display: flex;
  position: absolute;
  height: 2rem;
  width: 5rem;
  background: #99E2D0;
  color: #1b6150;
  text-align: center;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 1rem;
}
body main .restaurants .card {
  display: flex;
  height: 256px;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  body main .restaurants .card {
    width: 100%;
    height: 300px;
    max-width: 370px;
  }
}
@media (min-width: 1024px) {
  body main .restaurants .card {
    width: 100%;
    height: 300px;
    max-width: 520px;
  }
}
body main .restaurants .card:hover {
  transform: scale(1.05);
}
body main .restaurants .card .card-body {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  height: 297px;
  min-width: 336px;
  color: black;
}
@media (min-width: 728px) {
  body main .restaurants .card .card-body {
    min-width: 400px;
  }
}
@media (min-width: 1024px) {
  body main .restaurants .card .card-body {
    min-width: 540px;
  }
}
body main .restaurants .card img {
  background: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg), lightgray 50% no-repeat;
  width: 100%;
  max-width: 350px;
  height: 170px;
  border-radius: 15px 15px 0 0;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  body main .restaurants .card img {
    width: 100%;
    height: 231px;
    max-width: 370px;
  }
}
@media (min-width: 1024px) {
  body main .restaurants .card img {
    width: 100%;
    height: 231px;
    max-width: 520px;
  }
}
body main .restaurants .card .body-card-bas {
  margin: 0 10px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 76px;
  width: 320px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
body main .restaurants .card .body-card-bas::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: inherit;
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
body main .restaurants .card .body-card-bas::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
body main .restaurants .card .body-card-bas:hover::after {
  opacity: 1;
  transform: scale(1.1);
}
@media (min-width: 768px) {
  body main .restaurants .card .body-card-bas {
    width: 100%;
    height: 65px;
    max-width: 360px;
    margin: 0 0px 0 5px;
  }
}
@media (min-width: 1024px) {
  body main .restaurants .card .body-card-bas {
    width: 100%;
    height: 65px;
    max-width: 510px;
    margin: 0 0 0 10px;
  }
}
body main .restaurants h5 {
  display: flex;
  height: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}
@media (min-width: 768px) {
  body main .restaurants h5 {
    width: 100%;
    height: 231px;
  }
}
body main .restaurants h6 {
  display: flex;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 17px;
  align-items: center;
}
@media (min-width: 769px) {
  body main .restaurants h6 {
    display: flex;
    position: absolute;
    margin: 0;
    top: 38px;
  }
}
body .Desktop-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  body .Desktop-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 655px;
    margin: 0 0 25px;
  }
}
@media (min-width: 1024px) {
  body .Desktop-container {
    width: 100%;
    height: 650px;
  }
}
@media (min-width: 1460px) {
  body .Desktop-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1360px;
    margin: 20px;
  }
}
body .Desktop-container .range {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  body .Desktop-container .range {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  body .Desktop-container .range {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@keyframes animations_translate {
  0% {
    transform: translateX(0px);
    overflow: hidden;
    opacity: 0;
  }
  5% {
    opacity: 0.3;
    overflow: visible;
  }
  25% {
    transform: translateX(-70px);
    opacity: 0.5;
    overflow: visible;
  }
  50% {
    opacity: 0.7;
    overflow: visible;
  }
  100% {
    transform: translateX(-40px);
    overflow: visible;
    opacity: 1;
  }
}
@keyframes animations_translate_return {
  100% {
    transform: translateX(-40px);
    opacity: 1;
  }
  50% {
    transform: translateX(-40px);
  }
  0% {
    transform: translateX(0px);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(280deg);
  }
}
@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes quarter_spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header {
  width: 375px;
  height: 63px;
  position: relative;
}
@media (min-width: 768px) {
  body header {
    width: 100%;
    display: flex;
  }
}
body header .Navigation {
  display: flex;
  height: 62px;
  width: 100%;
  min-width: 373px;
  justify-content: center;
}
@media (min-width: 768px) {
  body header .Navigation {
    display: flex;
    width: 100%;
    min-width: 768px;
    font-size: 12px;
  }
}
body header .Navigation .text_Logo {
  display: flex;
  justify-content: flex-start;
  font-family: Shrikhand, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}
body header .Navigation a {
  text-decoration: none;
}
body header .Navigation a::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 2.7rem;
  left: 2rem;
}
@media (min-width: 768px) {
  body header .Navigation a::before {
    top: 20px;
    font-size: 1rem;
  }
}
body header .Navigation a:hover::before {
  transform: scale(1.2);
}
body .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 1275px;
  max-width: 475px;
  background: #F6F6F6;
}
@media (min-width: 768px) {
  body .section {
    display: flex;
    align-items: center;
    min-width: 1331px;
    min-height: 1312px;
    width: 100%;
    height: 100%;
    background-color: white;
  }
}
@media (min-width: 1024px) {
  body .section {
    width: 100%;
    height: 100%;
    min-height: 1330px;
  }
}
body .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  body .banner {
    -o-object-fit: fill;
       object-fit: fill;
    display: flex;
    position: relative;
    width: 100%;
    height: 78px;
    max-width: 980px;
  }
}
@media (min-width: 1024px) {
  body .banner {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    min-width: 1899px;
  }
}
body .banner img {
  width: 100%;
  height: 100%;
  max-width: 475px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 50%;
     object-position: 20% 50%;
}
@media (min-width: 768px) {
  body .banner img {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 315px;
  }
}
@media (min-width: 1024px) {
  body .banner img {
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 60%;
       object-position: 0% 60%;
    width: 100%;
    height: 375px;
    min-width: 1757px;
  }
}
body .Menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background: #F6F6F6;
  margin-top: -50px;
  gap: 40px;
}
@media (min-width: 768px) {
  body .Menu-container {
    display: flex;
    position: relative;
    width: 47%;
    max-width: 1440px;
    top: 250px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  body .Menu-container {
    width: 100%;
    height: 100%;
    min-height: 1052px;
    max-width: 907px;
  }
}
body .Menu-container .Title_Restaurant {
  display: flex;
  position: relative;
  width: 345px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0 0 0 10px;
}
body .Menu-container .Title_Restaurant::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: inherit;
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
body .Menu-container .Title_Restaurant::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
body .Menu-container .Title_Restaurant:hover::after {
  opacity: 1;
  transform: scale(1.1);
}
@media (min-width: 768px) {
  body .Menu-container .Title_Restaurant {
    align-items: flex-end;
  }
}
body .Menu-container .Title_Restaurant h2 {
  display: flex;
  flex-direction: row;
  height: 27px;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 28px;
  margin: 32px 0px 0px;
}
body .Menu-container .Title_Restaurant .menu_btn {
  display: flex;
  align-items: center;
  border: none;
  background: #F6F6F6;
}
body .Menu-container .Title_Restaurant .menu_btn i.fa-regular.fa-heart {
  opacity: 1;
  margin: 8px 24px 0px;
  margin-right: 5px;
}
body .Menu-container .Title_Restaurant .menu_btn i.fa-solid.fa-heart {
  opacity: 0;
  margin-left: -35px;
  margin-bottom: -8px;
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
          background-clip: text;
  background-clip: text;
}
body .Menu-container .Title_Restaurant .menu_btn i.fa-solid.fa-heart:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
body .Menu-container .Entree, body .Menu-container .Plats, body .Menu-container .Desserts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #F6F6F6;
  gap: 12px;
  height: 100%;
  width: 349px;
  overflow: hidden;
}
@media (min-width: 768px) {
  body .Menu-container .Entree, body .Menu-container .Plats, body .Menu-container .Desserts {
    width: 92%;
    height: 100%;
    min-width: 349px;
    overflow: visible;
  }
}
body .Menu-container h4 {
  display: flex;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  height: 27px;
  width: 275px;
  margin: 0;
}
body .Menu-container .Line-h4 {
  display: flex;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 3px;
  margin-top: -6px;
}
body .Menu-container .Animation_Plats {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  gap: 10px;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
}
body .Menu-container .Animation_Plats .Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 349px;
  border-radius: 20px;
  gap: 5px;
  background: #FFFFFF;
  animation-fill-mode: both;
  animation: appear 0.7s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 349px;
  border-radius: 20px;
  gap: 5px;
  background: #FFFFFF;
  animation-fill-mode: both;
  animation: appear 0.7s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 349px;
  border-radius: 20px;
  gap: 5px;
  background: #FFFFFF;
  animation-fill-mode: both;
  animation: appear 0.7s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 349px;
  border-radius: 20px;
  gap: 5px;
  background: #FFFFFF;
  animation-fill-mode: both;
  animation: appear 0.7s ease-in-out;
  overflow: hidden;
}
body .Menu-container .Animation_Plats .Card:nth-child(1) {
  animation-delay: 200ms;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:nth-child(1) {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:nth-child(1) {
    width: 834px;
    height: 64px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
body .Menu-container .Animation_Plats .Card:hover .check_plat {
  transition: all 0.7s ease-in-out;
  transform: translateX(-59px);
  overflow: visible;
}
body .Menu-container .Animation_Plats .Card:hover .check_plat i.fa-solid.fa-circle-check::before {
  animation: quarter_spin 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card:hover h5 {
  display: flex;
  min-width: 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
body .Menu-container .Animation_Plats .Card:hover .Card-Menu p.item_prix {
  transition: all 0.7s ease-in-out;
  transform: translateX(-50px);
}
body .Menu-container .Animation_Plats .Card .Card-Menu {
  display: flex;
  position: relative;
  height: 92%;
  width: 100%;
  max-width: 240px;
  margin: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 465px;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 725px;
  }
}
body .Menu-container .Animation_Plats .Card .Card-Menu h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  height: 21px;
  width: 100%;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu h5 {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  font-size: 13px;
  color: #7E7E7E;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu p.item_prix {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  height: 42px;
  width: 30px;
  right: -3rem;
}
body .Menu-container .Animation_Plats .Card .check_plat {
  transform: translateX(2px);
  transition: all 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card i.fa-solid.fa-circle-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  color: white;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5rem;
}
body .Menu-container .Animation_Plats .Card:nth-child(2) {
  animation-delay: 400ms;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:nth-child(2) {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:nth-child(2) {
    width: 834px;
    height: 64px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
body .Menu-container .Animation_Plats .Card:hover .check_plat {
  transition: all 0.7s ease-in-out;
  transform: translateX(-59px);
  overflow: visible;
}
body .Menu-container .Animation_Plats .Card:hover .check_plat i.fa-solid.fa-circle-check::before {
  animation: quarter_spin 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card:hover h5 {
  display: flex;
  min-width: 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
body .Menu-container .Animation_Plats .Card:hover .Card-Menu p.item_prix {
  transition: all 0.7s ease-in-out;
  transform: translateX(-50px);
}
body .Menu-container .Animation_Plats .Card .Card-Menu {
  display: flex;
  position: relative;
  height: 92%;
  width: 100%;
  max-width: 240px;
  margin: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 465px;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 725px;
  }
}
body .Menu-container .Animation_Plats .Card .Card-Menu h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  height: 21px;
  width: 100%;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu h5 {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  font-size: 13px;
  color: #7E7E7E;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu p.item_prix {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  height: 42px;
  width: 30px;
  right: -3rem;
}
body .Menu-container .Animation_Plats .Card .check_plat {
  transform: translateX(2px);
  transition: all 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card i.fa-solid.fa-circle-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  color: white;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5rem;
}
body .Menu-container .Animation_Plats .Card:nth-child(3) {
  animation-delay: 600ms;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:nth-child(3) {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:nth-child(3) {
    width: 834px;
    height: 64px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
body .Menu-container .Animation_Plats .Card:hover .check_plat {
  transition: all 0.7s ease-in-out;
  transform: translateX(-59px);
  overflow: visible;
}
body .Menu-container .Animation_Plats .Card:hover .check_plat i.fa-solid.fa-circle-check::before {
  animation: quarter_spin 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card:hover h5 {
  display: flex;
  min-width: 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
body .Menu-container .Animation_Plats .Card:hover .Card-Menu p.item_prix {
  transition: all 0.7s ease-in-out;
  transform: translateX(-50px);
}
body .Menu-container .Animation_Plats .Card .Card-Menu {
  display: flex;
  position: relative;
  height: 92%;
  width: 100%;
  max-width: 240px;
  margin: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 465px;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 725px;
  }
}
body .Menu-container .Animation_Plats .Card .Card-Menu h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  height: 21px;
  width: 100%;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu h5 {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  font-size: 13px;
  color: #7E7E7E;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu p.item_prix {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  height: 42px;
  width: 30px;
  right: -3rem;
}
body .Menu-container .Animation_Plats .Card .check_plat {
  transform: translateX(2px);
  transition: all 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card i.fa-solid.fa-circle-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  color: white;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5rem;
}
body .Menu-container .Animation_Plats .Card:nth-child(4) {
  animation-delay: 800ms;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:nth-child(4) {
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:nth-child(4) {
    width: 834px;
    height: 64px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
body .Menu-container .Animation_Plats .Card:hover .check_plat {
  transition: all 0.7s ease-in-out;
  transform: translateX(-59px);
  overflow: visible;
}
body .Menu-container .Animation_Plats .Card:hover .check_plat i.fa-solid.fa-circle-check::before {
  animation: quarter_spin 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card:hover h5 {
  display: flex;
  min-width: 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card:hover h5 {
    display: flex;
    min-width: 0;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
body .Menu-container .Animation_Plats .Card:hover .Card-Menu p.item_prix {
  transition: all 0.7s ease-in-out;
  transform: translateX(-50px);
}
body .Menu-container .Animation_Plats .Card .Card-Menu {
  display: flex;
  position: relative;
  height: 92%;
  width: 100%;
  max-width: 240px;
  margin: 10px 0 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 465px;
  }
}
@media (min-width: 1024px) {
  body .Menu-container .Animation_Plats .Card .Card-Menu {
    max-width: 725px;
  }
}
body .Menu-container .Animation_Plats .Card .Card-Menu h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  height: 21px;
  width: 100%;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu h5 {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  font-size: 13px;
  color: #7E7E7E;
  margin: 0;
}
body .Menu-container .Animation_Plats .Card .Card-Menu p.item_prix {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  height: 42px;
  width: 30px;
  right: -3rem;
}
body .Menu-container .Animation_Plats .Card .check_plat {
  transform: translateX(2px);
  transition: all 0.7s ease-in-out;
}
body .Menu-container .Animation_Plats .Card i.fa-solid.fa-circle-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  color: white;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -5rem;
}
body .adaptation {
  min-height: 1340px;
}
body .adaptation-1 {
  min-width: 475px;
  max-height: 320px;
}
body .format-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 475px;
  height: 100%;
  background-color: #F6F6F6;
}
@media (min-width: 768px) {
  body .format-button {
    width: 625px;
  }
}
@media (min-width: 1024px) {
  body .format-button {
    width: 907px;
  }
}
body .format-button .button-central {
  width: 160px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: bold;
  margin: 19px 75px 19px 75px;
  border: 0px;
  transition: transform 200ms;
}
@media (min-width: 768px) {
  body .format-button .button-central {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
}
body .format-button .button-central:hover {
  flex-shrink: 0;
  transition: all 0.5s ease-out;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transform: scale(1.1);
}

.footer-menu {
  background: #353535;
  width: 100%;
  max-width: 720px;
  height: 165px;
  padding: 0 22px 0 22px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-menu {
    display: flex;
    min-width: 780px;
    width: 100%;
    height: 80px;
    padding: 30px;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .footer-menu {
    width: 100%;
    max-width: 2440px;
    margin: 0px;
  }
}
.footer-menu .text_Logo {
  display: flex;
  justify-content: flex-start;
  font-family: Shrikhand, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  align-items: center;
  font-size: 19px;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 0;
    height: 20px;
    width: 590px;
    align-items: flex-end;
    font-size: 12px;
  }
}
.footer-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer-menu ul li {
    gap: 5px;
  }
  .footer-menu ul li:nth-child(3) {
    margin: 0 0 0 15px;
  }
}
li:nth-child(1) .footer-menu ul:nth-child(2) {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
}
li:nth-child(3) .footer-menu ul:nth-child(4) {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
}
.footer-menu a {
  display: flex;
}
@media (min-width: 768px) {
  .footer-menu a {
    display: flex;
    font-size: 14px;
    transform: translateX(550px);
    align-items: flex-end;
    color: white;
  }
}
.footer-menu ul {
  width: 610px;
}
.footer-menu li {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */