@use "../Variables/mixins";
@use "../Animations/animations";
@use "../Variables/variables";

body {
        display: flex;
        flex-direction: column;
        align-items: center;

    header {
            width: 375px;
            height: 63px;
            position: relative;

        @media (min-width: 768px) {
            width: 100%;
            display: flex;
        }
    
        .Navigation {
            display: flex;
            height: 62px;
            width: 100%;
            min-width: 373px;
            justify-content: center;

            @media (min-width: 768px) {
                display: flex;
                width: 100%;
                min-width: 768px;
                font-size: 12px;
            }
            
            .text_Logo {
                display: flex;
                justify-content: flex-start;
                @include Shrikhand_400;
            }

            a {
                text-decoration: none;
                &::before {
                    @include FontAwesome($font-weight: 900);
                    content: "\f060";
                    font-size: 2.7rem;
                    left: 2rem;

                    @media (min-width: 768px) {
                        top: 20px;
                        font-size: 1rem;
                    }
                }
                &:hover::before {
                    transform: scale(1.2);
                }
            }
        }
    }
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        min-height: 1275px;
        max-width: 475px;
        background: $color5;
        
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
                min-width: 1331px;
                min-height: 1312px;
                width: 100%;
                height: 100%;
                background-color: white;
            }
            @media (min-width: 1024px) {
                width: 100%;
                height: 100%;
                min-height: 1330px;
            }
        }
        .banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media (min-width: 768px) {
                    object-fit: fill;
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 78px;
                    max-width: 980px;  
                }
                @media (min-width: 1024px) {
                    object-fit: cover;
                    width: 100%;
                    min-width: 1899px;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 475px;
                    object-fit: cover;
                    object-position: 20% 50%;
                    
                    @media (min-width: 768px) {
                        position: relative;
                        width: 100%;
                        max-width: 1440px;
                        height: 315px;
                    }
                    @media (min-width: 1024px) {
                        display: flex;
                        object-fit: cover;
                        object-position: 0% 60%;
                        width: 100%;
                        height: 375px;
                        min-width: 1757px;
                    }
                }
            }
            
            .Menu-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 20px 20px 0 0 ;
                background: $color5;
                margin-top: -50px;
                gap: 40px;
        

        @media (min-width: 768px) {
            display: flex;
            position: relative;
            width: 47%;
            max-width: 1440px;
            top: 250px;
            margin-bottom: 10px;
        }
        @media (min-width: 1024px) {
            width: 100%;
            height: 100%;
            min-height: 1052px;
            max-width: 907px;
        }
        

        .Title_Restaurant {
            display: flex;
            position: relative;
            width: 345px;
            border-radius: 20px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            align-content: center;
            flex-wrap: wrap;
            @include heart_Animated;
            margin: 0 0 0 10px;
            
            @media (min-width: 768px) {
                align-items: flex-end;  
            }

            h2 {
                display: flex;
                flex-direction: row;
                height: 27px;
                justify-content: space-between;
                align-items: center;
                @include Shrikhand_400;
                font-size: 28px;
                margin: 32px 0px 0px;
            }
            .menu_btn {
                display: flex;
                align-items: center;
                border: none;   
                background: $color5; 
                
                
                i.fa-regular.fa-heart {
                    opacity: 1;
                    margin: 8px 24px 0px;
                    margin-right: 5px;                                   
                }
                
                i.fa-solid.fa-heart {
                    opacity: 0;
                    margin-left: -35px;
                    margin-bottom: -8px;
                    color: transparent;
                    @include mixins.Linear-Heart;
                    background-clip: text;
                    background-clip: text;

                    &:hover {
                    opacity: 1;
                    transition: all 200ms ease-in-out;
                    }
                }
            }                  
           
        }
        .Entree, .Plats, .Desserts {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: $color5;
                gap: 12px;
                height: 100%;
                width: 349px;
                overflow: hidden;

                @media (min-width: 768px) {
                    width: 92%;
                    height: 100%;
                    min-width: 349px;
                    overflow: visible;
                }

            }
            
            h4 {
                display: flex;
                text-transform: uppercase;
                @include Roboto_300;
                font-size: 16px;
                height: 27px;
                width: 275px;
                margin: 0;
            }
            .Line-h4 {
                display: flex;
                border-bottom: 3px solid $color4;
                width: 40px;
                height: 3px;
                margin-top: -6px;
            }
            .Animation_Plats {
                display: flex;
                flex-direction: column;
                background: $color5;
                gap: 10px;

                @media (min-width: 768px) {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;   
                }
               
                .Card {                 
                    $numberOfItems: 4;
                    @for $i from 1 through $numberOfItems {
                        &:nth-child(#{$i}) {
                            animation-delay: 200ms * $i;

                            @media (min-width: 768px) {
                                display: flex;
                                width: 100%;
                                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                                 
                            }
                            @media (min-width: 1024px) {
                                width:834px;
                                height: 64px;
                                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                            }  
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 69px;
                    width: 349px;
                    border-radius: 20px;
                    gap: 5px;
                    background: #FFFFFF;
                    animation-fill-mode: both;
                    animation: appear 0.7s ease-in-out;
                    overflow: hidden;
                                        
                    &:hover {
                        .check_plat {
                            transition: all 0.7s ease-in-out;
                            transform: translateX(-59px);
                            overflow: visible;
                            
                            
                            i.fa-solid.fa-circle-check::before {
                                animation: quarter_spin 0.7s ease-in-out;
                                }
                            }
                            h5 {
                                display: flex;
                                 min-width: 0;
                                 max-width: 200px; 
                                 overflow: hidden;
                                 white-space: nowrap;
                                 text-overflow: ellipsis;                                 

                                 @media (min-width: 768px) {
                                    display: flex;
                                    min-width: 0;
                                    max-width: 250px; 
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                 }
                                  @media (min-width: 1024px) {
                                    display: flex;
                                    min-width: 0;
                                    max-width: 250px; 
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                }
                            
                            .Card-Menu {
                                                                
                                p.item_prix {
                                    //animation du montant en ease-in-out
                                    transition: all 0.7s ease-in-out;
                                    transform: translateX(-50px); 
                                }
                            }                       
                        }
                                                            
                        .Card-Menu {
                            display: flex;
                            position: relative;
                            height: 92%;
                            width: 100%;
                            max-width: 240px;
                            margin: 10px 0 15px 15px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            gap: 5px;
                            min-width: 0;
                            flex-basis: 100%;
                                                       
                            
                            @media (min-width: 768px) {
                                max-width: 465px;
                                
                            }
                            @media (min-width: 1024px) {
                                max-width: 725px;
                            }
                            
                            h4 {
                                @include Roboto_900;
                                font-size: 14px;
                                text-transform: none;
                                text-decoration: none;
                                height: 21px;
                                width: 100%;
                                margin: 0;
                            }

                            h5 {
                                display: block;
                                @include Roboto_400;
                                white-space: nowrap;
                                font-size: 13px;
                                color: $Grey3;
                                margin: 0;
                           }
                        
                           p.item_prix {
                               @include Roboto_400;
                               display: flex;
                               position: relative;
                               align-items: flex-end;
                               font-size: 0.9rem;
                               color: black;
                               font-weight: bold;
                               height: 42px;
                               width: 30px;
                               right: -3rem;
                               
                            }
                    }
                    
                    .check_plat {
                        transform: translateX(2px);
                        transition: all 0.7s ease-in-out;                  
                    }
                    
                    i.fa-solid.fa-circle-check {
                        display: flex; 
                        align-items: center;
                        justify-content: center;
                        width: 59px;
                        height: 69px;
                        color: white;
                        background: $color4;
                        border-radius: 0 20px 20px 0;
                        margin-right: -5rem;
                    
                    }
                }
            }
        }
    }
    
    .adaptation {
        min-height: 1340px;
    }

    .adaptation-1 {
        min-width: 475px;
        max-height: 320px;
    }

    .format-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 475px;
        height: 100%;
        background-color: $color5;

            @media (min-width: 768px) {
                width: 625px;
            }
            @media (min-width: 1024px) {
                width: 907px;
            }

            .button-central {
                width: 160px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 25px;
                color: white;
                @include Roboto_400;
                @include Button-Gradient;
                font-size: 16px;
                font-weight: bold;
                margin: 19px 75px 19px 75px;
                border: 0px;
                transition: transform 200ms;

                    @media (min-width: 768px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 30px;
                    }
    
                    &:hover {
                        flex-shrink: 0;
                        transition: all 0.5s ease-out;
                        @include Button-Hover;
                        opacity: 0.7;
                        transform: scale(1.1);
                    }
            }
    } 
}
